@use "../utils/variables" as var;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sen', sans-serif;
}

ul{
    list-style: none;
    a{
        text-decoration: none;
    }
}
