@use "../global";
@use "../utils/mixin"as mxn;
@use "../utils/variables"as var;

#hero {
    padding-top: 140px;
    padding-bottom: 120px;

    .hero__subtitle {
        font-family: Roboto Condensed;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .hero__title {
        font-family: Roboto Condensed;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.01em;
        text-align: left;
    }
}

#compassion {
    padding-top: 60px;
    padding-bottom: 90px;

    .compassion__subtitle {
        font-family: Roboto Condensed;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 10px;
    }

    .compassion__title {
        font-size: 42px;
        font-family: Roboto Condensed;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.01em;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;

        @media(min-width:400px) {
            font-size: 48px;
        }
    }

    .compassion__description {
        font-family: Roboto Condensed;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 40px;
    }

    .compassion__cards {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .card {
            overflow: hidden;
            cursor: pointer;

            .compassion__btn {
                display: flex;
                margin-top: -50px;
                margin-bottom: 10px;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                max-width: 144px;
                width: 100%;
                height: 50px;
                background-color: var.$primary-color;
                border-radius: 10px;
                border: 1px solid var.$primary-color;
                font-family: Roboto Condensed;
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;
                transition: 0.5s;

                &:hover {
                    background-color: var.$hover-color;
                }
            }

            max-width: 310px;
            height: 460px;
            width: 100%;

            &:hover {
                .compassion__btn {
                    margin-top: 0px;
                }

                img {
                    transform: scale(1);
                }
            }

            img {
                width: 100%;
                transform: scale(0.9);
                transition: 0.5s;
            }
        }
    }

    .compassion__infos {
        margin-top: 50px;

        .info__subtitle {
            font-family: Roboto Condensed;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        .info__title {
            font-family: Roboto Condensed;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -0.01em;
            margin-bottom: 10px;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        .info__text {
            font-family: Roboto Condensed;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            max-width: 500px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            text-decoration: none;
            color: var.$black-color;
            gap: 10px;
        }
    }

}

#benefit {
    padding-top: 60px;
    padding-bottom: 60px;

    .benefit__subtitle {
        font-family: Roboto Condensed;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        margin-bottom: 20px;
        text-align: center;
    }

    .benefit__title {
        font-family: Roboto Condensed;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.01em;
        max-width: 430px;
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .benefit__cards {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 40px;
        margin-bottom: 80px;

        @media(min-width:800px) {
            grid-template-columns: 50% 50%;
        }

        .card__info {
            padding: 50px 10px;
            margin-top: 30px;

            .card__title {
                font-family: Roboto Condensed;
                font-size: 32px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: -0.01em;
                margin-bottom: 30px;
                text-align: left;
                text-transform: uppercase;
            }

            .card__subtitle {
                font-family: Roboto Condensed;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        .card__img {
            img {
                width: 100%;
            }
        }
    }
}

#team {
    padding-top: 60px;
    padding-bottom: 60px;

    .team__subtitle {
        font-family: Roboto Condensed;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .team__title {
        font-family: Roboto Condensed;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.01em;
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }

    .team__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
        align-items: center;
        justify-content: center;
        .card {
            max-width: 300px;
            width: 100%;
            background-color: #F5F2F0;
            text-align: center;
            padding: 40px 20px;

            .card__title {
                font-family: Roboto Condensed;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: -0.01em;
                margin-top: 20px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            .card__subtitle {
                font-family: Roboto Condensed;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                margin-bottom: 20px;
            }

            .card__medias {
                display: flex;
                justify-content: center;
                gap: 20px;
                img {
                    cursor: pointer;
                    width: 24px;
                }
            }
        }
    }
}