@use "../global";
@use "../layout/general.scss";
@use "../utils/mixin" as mxn;
@use "../utils/variables" as avr;

main {
    background: rgb(229, 229, 229);
}

.compassion {
    margin-top: 80px;
    padding: 128px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: #A54E2B;
        font-family: Roboto Condensed;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 8%;
        margin-bottom: 16px;
    }

    &__title {
        color: avr.$black-color;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -1%;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__date {
        color: avr.$black-color;
        font-family: Roboto Condensed;
        line-height: 24px;
        margin-bottom: 64px;
    }

    &__img {
        width: 100%;
    }

    &__wrapper {
        max-width: 768px;
        widows: 100%;
        margin-top: 64px;

        &-title {
            color: avr.$black-color;
            font-family: Roboto Condensed;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -1%;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        &-text {
            color: avr.$black-color;
            font-family: Roboto Condensed;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }

        &-img {
            width: 100%;
        }

        &--title {
            margin: 24px 0;
            color: avr.$black-color;
            font-family: Roboto Condensed;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -1%;
            text-transform: uppercase;
        }

        &-desc {
            width: 100%;
            padding: 0 27px;
            border-left: 3px solid avr.$primary-color;
            color: avr.$black-color;
            font-family: Roboto Condensed;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 24px;
        }
    }
}

@media only screen and (max-width: 735px){
    .compassion{
        padding: 60px 0;

        &__title{
            font-size: 36px;
            line-height: 48px;
            text-align: center;
        }

        &__date{
            margin-bottom: 32px;
        }

        &__wrapper{
            max-width: 520px;

            &-title{
                font-size: 28px;
                line-height: 36px;
                
            }
            &-text{
                font-size: 14px;
                line-height: 18px;
            }
            &--title{
                margin-top: 18px 0;
                font-size: 24px;
                line-height: 32px;
            }

            &-desc{
                font-size: 18px;
                margin-bottom: 16px;
            }
        }
    }
}