@use "../global";
@use "../layout/general.scss";
@use "../utils/mixin" as mxn;
@use "../utils/variables" as avr;

main {
    background: rgb(229, 229, 229);
}

.blog {
    margin-top: 80px;
    padding: 128px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: rgb(22, 23, 34);
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__title {
        color: rgb(22, 23, 34);
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -1%;
        text-transform: uppercase;
        margin-bottom: 64px;
    }

    &__wrapper {
        background-color: #fff;
        display: flex;
        padding: 56px;
        gap: 48px;


        &-title {
            color: avr.$black-color;
            font-family: Roboto Condensed;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: -1%;
            line-height: 44px;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &-text {
            color: avr.$black-color;
            font-family: Roboto Condensed;
            line-height: 24px;
            margin-bottom: 32px;
        }

        &-btn {
            @include mxn.btn()
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;

            p {
                color: avr.$secondary-color;
                font-family: Roboto Condensed;
                line-height: 19px;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width:1065px) {
    .blog {

        padding: 60px 0;

        &__wrapper {
            flex-direction: column;
            align-items: center;

            &-img {
                order: 2;
                width: 100%;
                object-fit: cover;
            }

            &-right {
                text-align: center;
            }
            &-btn{
                padding: 16px 20px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width:650px) {
    .blog {

        &__title {
            font-size: 32px;
            margin-bottom: 38px;
            line-height: 32px;
            text-align: center;
        }

        &__wrapper {

            &-title {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

.posts {
    padding-bottom: 128px;
   

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: avr.$secondary-color;
        font-family: Roboto Condensed;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -1%;
        text-transform: uppercase;
        margin-bottom: 64px;
    }

    &__cards {
        width: 100%;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__card {
        background-color: #fff;
        padding: 48px 32px;
        display: flex;
        flex-direction: column;
        border-bottom: 16px solid transparent;
        transition: all 0.5s;

        &:hover{
            border-bottom: 16px solid avr.$primary-color;
        }

        &-text {
            color: avr.$primary-color;
            font-family: Roboto Condensed;
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 8%;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &-title {
            color: rgb(22, 23, 34);
            font-family: Roboto Condensed;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -1%;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &-desc {
            color: rgb(22, 23, 34);
            font-family: Roboto Condensed;
            font-size: 16px;
            letter-spacing: 0%;
            line-height: 24px;
            margin-bottom: 48px;
        }

    }
}

@media only screen and (max-width: 1065px){
    .posts{

        &__cards{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width:860px) {
    .posts{

        &__cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media only screen and (max-width:540px){
    .posts{

        &__title{
            font-size: 32px;
            text-align: center;
        }

        &__cards{
            grid-template-columns: 1fr;
        }
    }
}