$primary-font:'Roboto', sans-serif;
$secondary-font:'Roboto Condensed', sans-serif;
$tertiary-font:'Sen', sans-serif;
$primary-color: #ffd2a4;
$hover-color:#FFF5EB;
$black-color: #1c1d28;
$secondary-color: #161722;
$white-color: #ffffff;
$mobilePadding: 20;
